/*Common Styles*/
* {
    font-family: 'Lato', sans-serif;
}

html, body {
    margin: 0;
    min-width: 320px;
}

/*Main Styles*/
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: fit-content;
    min-height: 480px;
}

/*Title Styles*/
.title-section {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #2e8b57;
    width: 100%;
    min-width: 768px;
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px #14213d,
    1px -1px #14213d,
    -1px 1px #14213d,
    -1px -1px #14213d;
    border-bottom: 2rem solid #e5e5e5;
    transition: background-color 0.25s ease-in;
}

.color-value {
    font-size: 6rem;
    letter-spacing: 0.25rem;
    margin: 0 0 0.5rem;
    text-transform: uppercase;
}

.status-label {
    margin: 0.5rem 0 2rem;
    font-size: 3.5rem;
    letter-spacing: 0.15rem;
}

.control-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-left: 4rem;
}

.retry-btn {
    border-radius: 4px;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    color: #ffffff;
    width: 4rem;
    height: 4rem;
    transition: box-shadow 0.2s ease-in;
}

.retry-btn:focus {
    outline: none;
}

.retry-btn:focus,
.retry-btn:hover,
.retry-btn:active {
    box-shadow: 0 0 0 2px #ffffff, 0 0 2px 5px #006400;
}

.retry-svg {
    height: inherit;
    width: inherit;
    fill: currentColor;
    stroke: #14213d;
}

.control {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
}

.control:focus {
    outline: none;
}

.control-input:focus {
    outline: none;
}

.control-label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: end;
    letter-spacing: 0.2rem;
}

.control-input {
    font-size: 3.25rem;
    color: #ffffff;
    text-shadow: 1px 1px #14213d,
    1px -1px #14213d,
    -1px 1px #14213d,
    -1px -1px #14213d;
    text-align: end;
    width: 14rem;
    height: 3rem;
    border-radius: 8px;
    border: 2px solid #22223b;
}

.control-input::-webkit-outer-spin-button,
.control-input::-webkit-inner-spin-button {
    margin-left: 0.5rem;
}

.control-input:focus {
    margin: -3px;
    border: 5px solid #000000;
}

/*Colors Styles*/
.colors-section,
.colors-row {
    display: flex;
    align-items: center;
}

.colors-section {
    width: 100%;
    background: #708090;
    min-height: fit-content;
    min-width: fit-content;
    height: 60%;
    max-height: 60%;
    padding-top: 2rem;
    overflow: auto;
    flex-direction: column;
}

.colors-row {
    padding-left: 2rem;
    margin-bottom: 2rem;
}

.colors-column {
    cursor: pointer;
    width: 6rem;
    min-width: 48px;
    height: 6rem;
    min-height: 48px;
    background: #000000;
    margin: 0 1rem;
    border-radius: 8px;
    border: 2px solid #ffffff;
    transition: width 0.35s ease-in, height 0.35s ease-in, margin 0.35s ease-in, background-color 0.5s ease-in;
}

.passed-value {
    width: 5rem;
    height: 5rem;
    min-width: 40px;
    min-height: 40px;
    margin: 0.5rem 1.5rem;
    opacity: 0.5;
}

/*Responsiveness Styles*/
/*Width Styles*/
@media (max-width: 1440px) {
    html, body {
        font-size: 14px;
    }

    .control-wrapper {
        width: 65%;
    }
}

@media (max-width: 1024px) {
    html, body {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    html, body {
        font-size: 1.2vw !important;
    }

    .control-wrapper {
        width: 80%;
    }
}

@media (max-width: 425px) {
    html, body {
        font-size: 1.75vw !important;
    }
}

/*Height Styles*/
@media (max-height: 1050px) {
    html, body {
        font-size: 10px;
    }
}

@media (max-height: 700px) {
    html, body {
        font-size: 1.25vh;
    }
}

@media (max-height: 700px) and (max-width: 768px) {
    html, body {
        font-size: 0.8vh !important;
    }
}

@media (max-height: 480px) {
    html, body {
        font-size: 6px !important;
    }
}
